@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background: #1A1A2F;
}

.home {
  background: rgb(41,22,70);
  background: linear-gradient(135deg, rgba(41,22,70,1) 0%, rgba(93,48,118,1) 12%, rgba(116,59,140,1) 21%, rgba(150,75,171,1) 32%, rgba(162,81,182,1) 44%, rgba(138,69,160,1) 55%, rgba(93,47,118,1) 65%, rgba(67,34,94,1) 77%, rgba(54,28,82,1) 88%, rgba(41,22,70,1) 100%);
}

.ordinary {
  background: linear-gradient(140deg, rgba(190,12,219,0.5) 0%, rgba(72,99,194,0.7) 22%, rgba(190,12,219,0.3) 58%, rgba(255,255,255,0) 100%);
}

.keep {
  background: linear-gradient(140deg, rgba(4,0,26,1) 0%, rgb(190 12 219 / 38%) 14%, rgb(43 82 221 / 47%) 27%, rgb(34 28 195 / 48%) 37%, rgb(203 58 227 / 69%) 53%, rgb(59 54 191 / 25%) 73%, rgba(255,255,255,0) 100%);
}

.blue__gradient  {
  background: radial-gradient(circle, rgba(84,191,252,0.4) 0%, rgba(255,255,255,0) 39%);
}
.pinc__gradient {
  background: radial-gradient(circle, rgba(252,84,144,0.4) 0%, rgba(255,255,255,0) 35%);
}
.navi__gradient {
  background: radial-gradient(circle, rgba(62,93,255,0.4) 0%, rgba(255,255,255,0) 35%);
}
.purple__gradient {
  background: radial-gradient(circle, rgba(252,84,235,0.4) 0%, rgba(255,255,255,0) 35%);
}
.rose__gradient{
  background:radial-gradient(circle, rgba(250,0,214,0.5) 0%, rgba(255,255,255,0) 35%);
}
.indigo__gradient  {
  background: radial-gradient(circle, rgba(0,240,255,0.5) 0%, rgba(255,255,255,0) 39%);
}
.yellow__gradient  {
  background: radial-gradient(circle, rgba(255,230,0,0.5) 0%, rgba(255,255,255,0) 39%);
}

.animation-selector {
  background: linear-gradient(270deg, #26d0bb, #942fde, #07020f);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.contacts {
  background-image: url('./assets/contacts.svg');
}

svg { width: 100%; }
svg textPath { 
  font-size: 23px;
	font-family:  sans-serif;
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: #111;
  background: #333;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
